.gated-reveal-trigger-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba( $black, .8 );
}
.absolute-link-trigger {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 100%;
	&.reveal-trigger {
		cursor: default;
	}
}
.page-template-custom-page-post-archive .grid-x.card-grid .absolute-link-trigger {
	left: 0.6875rem;
	right: 0.6875rem;
}

.page-template-custom-page-post-archive {
	.page-banner {
		hr {
			margin-bottom: rem-calc(32) !important;
		}
	}
}
.archive-webinar {

	h2.h6 {
		margin-bottom: rem-calc(19);
	}
}

article.archive-card {
	margin-bottom: $smallGutter;
	@include breakpoint(medium) {
		margin-bottom: $mediumGutter;
	}
}

article.type-news.archive-card,
article.type-webinar.archive-card,
article.type-podcast.archive-card {
	@include breakpoint(small down) {
		max-width: 419px;
	}
	.thumb-date-wrap,
	.thumb-wrap,
	.thumb-icon-wrap {
		margin-bottom: 1rem;
	}
}

article.type-news.archive-card {
	.thumb-wrap {
		padding-top: 61.105%;
		> img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	.date {
		color: #C0BFBF;
		margin-bottom: .36rem;
	}
	h3 {
		margin-bottom: 0; 
	}
	.author {
		line-height: 1.3846;
	}
}

article.type-tip-sheet.archive-card {
	h3 {
		margin-bottom: 0;
	}
	.icon-wrap {
		img {
			max-width: 25px;
		}
	}
	.bg-light-gray {
		padding: clamp(1.099rem, -2.99rem + 5.233vw, 1.57rem) clamp(0.959rem, -2.609rem + 4.567vw, 1.37rem);
	}
}

article.type-webinar.archive-card {
	.thumb-date-wrap,
	.thumb-wrap {
		&:before {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(0deg, #C84DFF 0%, rgba(200, 77, 255, 0) 100%);
			mix-blend-mode: hard-light;
		}
		.date-wrap {
			padding: clamp(0.438rem, 0.371rem + 0.282vw, 0.625rem) clamp(0.438rem, 0.371rem + 0.282vw, 0.625rem) 0 clamp(0.787rem, 0.669rem + 0.507vw, 1.125rem);
			.date {
				padding-top: 2px;
			}
		}
	}
	.thumb-date-wrap {
		@media screen and (max-width: 460px) {
			min-height: clamp(10.438rem, -1.42rem + 59.286vw, 15.625rem);
		}
		@media screen and (min-width: 461px) and (max-width: 639px) {
			min-height: rem-calc(250);
		}
		@include breakpoint(medium) {
			min-height: clamp(11.063rem, -1.293rem + 30.888vw, 16.063rem);
		}
		@include breakpoint(tablet) {
			min-height: clamp(11.063rem, 4.203rem + 12.195vw, 12rem);
		}				
		@include breakpoint(large) {
			min-height: clamp(8.813rem, -0.806rem + 15.044vw, 10.938rem);
		}
		@include breakpoint(xlarge) {
			min-height: clamp(8.625rem, 0.487rem + 10.417vw, 9.563rem);
		}
		@media screen and (min-width: 1394px) {
			min-height: rem-calc(153);
		}
	}
	.host-images {
		max-width: 40%;
		padding: clamp(0.7rem, 0.594rem + 0.451vw, 1rem);
		display: flex;
		align-items: flex-end;
		justify-content: flex-end;
		gap: clamp(0.35rem, 0.297rem + 0.225vw, 0.5rem);
		padding: 13px 16px;
		@include breakpoint(tablet) {
			max-width: 50%;
		}
		.image-wrap {
				// width: 70%;
				// max-width: 68px;
				aspect-ratio: 1 / 1;
				border: clamp(0.188rem, 0.165rem + 0.094vw, 0.25rem) solid $white;
				border-radius: 100%;
				//max-width: 68px;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				display: block;
			}
		}
		&.grid {
			max-width: 60%;
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: repeat(1, 1fr);
			// display: flex;
			// flex-wrap: wrap;
			column-gap: 16px;
			row-gap: 10px;
			@include breakpoint(medium) {
				column-gap: 8px;
				row-gap: 5px;
			}
			.image-wrap {
				max-width: none;
				// flex: 0 0 calc(50% - clamp(0.35rem, 0.297rem + 0.225vw, 0.5rem));
				// flex: 0 0 calc(50% - 4px);
				// width: 100px;
				// height: 100px;
				@include breakpoint(medium) {
					
				}
			}
		}
	}
	.title {
		padding-right: 1.5rem;
		h3.h6 {
			line-height: 1.3846;
		}
	}
}

.page-template-custom-page-post-archive {
	.content {
		&.archive-news {
			article.type-news.archive-card .thumb-wrap {
				padding-top: 61.105%;
			}
		}
		&.archive-webinar {
			.webinar-break {
				hr {
					margin-top: 0;
					margin-bottom: clamp(2.1rem, 1.783rem + 1.352vw, 3rem);
				}
			}	
			article.type-webinar.archive-card .thumb-wrap {
				@media screen and (max-width: 460px) {
					min-height: clamp(10.438rem, -1.42rem + 59.286vw, 15.625rem);
				}
				@media screen and (min-width: 461px) and (max-width: 639px) {
					min-height: rem-calc(250);
				}
				@include breakpoint(medium) {
					min-height: clamp(11.063rem, -1.293rem + 30.888vw, 16.063rem);
				}
				@include breakpoint(tablet) {
					min-height: clamp(10.438rem, -0.995rem + 20.325vw, 12rem);
				}	
				@include breakpoint(large) {
					min-height: clamp(8.75rem, -7.256rem + 28.455vw, 10.938rem);
				}			
				@include breakpoint(xlarge) {
					min-height: clamp(6.694rem, 5.684rem + 4.31vw, 9.563rem);
				}
				@media screen and (min-width: 1394px) {
					min-height: rem-calc(153);
				}
			}	
		}
	}
	
	.alm-btn-wrap {
		padding: 0 50px;
		margin: 0;
		.alm-load-more-btn {
			margin-top: 2rem;
			@extend .button;
			@extend .violet;
			box-shadow: none;
			width: 100%;
			max-width: 230px;
			margin: 0;
			&:hover,
			&:focus {
				color: $white;
				background-color: #473EB8 !important;
				border-color: #473EB8 !important;
			}
			&.loading {
				padding-left: 1em !important;
				box-shadow: none !important;
				&:before {
					position: absolute;
					left: -42px;
					margin: 4px;
				}
			}
			&.done {
				display: none;
			}
		}
	}	
}