.page-template-custom-page-home {
	@include breakpoint(medium) {
		.medium-no-pad-right {
			padding-right: 0;
		}
	}
	.home-banner {
		background-image: linear-gradient(34.61deg, #5354B5 38.9%, #2891D2 75%, #05B1C5 100%);
		background-image: linear-gradient(34.61deg, #5354B5 9%, #2891D2 75%, #05B1C5 100%);
		overflow: hidden;
		margin-bottom: clamp(3.5rem, 2.972rem + 2.254vw, 5rem);
		.left {
			max-width: 388px;
			h1 {
				margin-bottom: 0.3em;
			}
			.btn-group {
				margin-top: 32px;
			}
		}
		.right {
			padding-top: 92px;
			&:before {
				content: '';
				display: block;
				background-color: $white;
				border-radius: 16px 0 0 0;
				position: absolute;
				top: 92px;
				bottom: 0;
				left: 20px;
				width: calc( 100% + 12px);
				@include breakpoint(xxlarge) {
					border-radius: 16px 16px 0 0;
				}
			}
			nav {
				padding: 43px 0px 58px 36px;
				position: relative;
				border-radius: 20px 0 0 0;
				overflow: hidden;
				hr {
					margin-top: 17px;
					margin-bottom: 25px;
				}
				a.button {
					justify-content: space-between;
				}
				.icon-wrap {
					.inner {
						width: 27px;
						margin-right: 9px;
					}
				}
				h2 {
					margin-bottom: -1px;
				}
			}
		}
	}
	.home-cpt-row {
		// padding-bottom: 0.9rem;
		.header {
			margin-bottom: rem-calc(14);
			.title-wrap {
				h2 {
					border: 2px solid $black;
					padding: 0.1em 0.7em 0.15em 0.7em;
					border-radius: 2rem;
				}
			}
			.hr-wrap {
				padding-left: 0;
			}
		}
		.body {
			.title.h6 {
				text-transform: uppercase;
				letter-spacing: .1em;
				margin-bottom: 19px;
			}
			.month.h6 {
				margin-bottom: 0;
			}
			.absolute-link-trigger {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				&.reveal-trigger {
					cursor: pointer;
				}
			}
			.reveal-trigger-overlay {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: rgba( $black, .8 );
			}
			.archive-link-wrap {
				padding-top: clamp(1.5rem, 1.28rem + 0.939vw, 2.125rem);
				svg {
					margin-left: rem-calc(7);
				}
			}
			.home-cpt-sidebar {
				> .title.h6 {
					margin-bottom: 19px;
				}
				article {
					border-radius: 10px;
					overflow: hidden;
					margin-bottom: 15px;
					.date {
						flex: 0 0 72px;
						padding: rem-calc(10);
						.month {
							
						}
					}
					.title {
						padding: 1rem 1.4rem;
					}
					h3.h6 {
						line-height: 1.3846;
					}
				}
			}
			.home-cpt-main {
				.card-grid {
					margin-left: rem-calc(-11);
					margin-right: rem-calc(-11);
					> .cell {
						padding-left: rem-calc(11);
						padding-right: rem-calc(11);
					}
				}
				.pad-right {
					padding-right: 7%;
				}
				article {
					.has-object-fit-img {
						min-height: 130px;
					}
					.thumb-date-wrap,
					.thumb-wrap {
						border-radius: 10px;
						margin-bottom: 1rem;
						overflow: hidden;
						&:before {
							content: '';
							display: block;
							position: absolute;
							top: 0;
							left: 0;
							width: 100%;
							height: 100%;
							background: linear-gradient(0deg, #C84DFF 0%, rgba(200, 77, 255, 0) 100%);
							  mix-blend-mode: hard-light;
						}
						.abolute-link-trigger {
						}
						.date-live-wrap {
							position: absolute;
							width: 100%;
							top: 10px;
							padding: 0 10px 0 18px;
							.date {
								padding-top: 2px;
							}
							.live {
								font-size: rem-calc(12);
								span {
									display: inline-block;
									padding: 0.1em .7em;
									border-radius: 30px;
									letter-spacing: .1em;
									font-weight: 700;		
								}
							}
							.pod-icon {
								flex: 0 0 31px;
							}
						}
					}
					.title {
						padding-right: 1.5rem;
						h3.h6 {
							line-height: 1.3846;
						}
					}
				}
				&.news-row {
					.featured {
						.thumb-wrap {
							height: 100%;
						}
						.left {
							width: 40%;
						}
					}
					.date {
						color: #C0BFBF;
						margin-bottom: .36rem;
					}
					.excerpt {
						font-size: rem-calc(14);
						padding-top: 1rem;
					}
					.stacked {
						.thumb-wrap {
							min-height: 0;
							width: 100%;
							aspect-ratio: 1/1;
						}					}
				}
			}
		}
	}
}