.page-template-custom-page-home {
	@include breakpoint(medium) {
		.medium-no-pad-right {
			padding-right: 0;
		}
	}
	.title.h6 {
		text-transform: uppercase;
		letter-spacing: .1em;
	}
	.section-header {
		hr {
			transform: translateY(-4px);
		}
	}
	.home-banner.non-member {
		padding-top: clamp(2.313rem, 2.07rem + 1.036vw, 3.313rem);
		background-image: linear-gradient(34.23deg, #12058F 54.549099999999996%, #211CD1 85.56049999999999%);
		overflow: hidden;
		margin-bottom: clamp(3.5rem, 2.972rem + 2.254vw, 5rem);
		.accent {
			position: absolute;
			width: 100%;
			left: 0;
			top: -50px;
			bottom: -50px;
			height: calc(100% + 50px);
			background-image: url('../images/a-accent.svg');
			background-repeat: no-repeat;
			background-size: contain;
			background-position: 0 50%;
		}
		.left,
		.right {
			padding-top: 50px;
		}
		.left {
			margin-bottom: 3rem;
			.swiper-slide {
				
			}
			h1 {
				margin-bottom: 0.3em;
			}
			.btn-group {
				margin-top: clamp(1.4rem, 1.254rem + 0.621vw, 2rem);
			}
		}
		.right {
			&:before {
				content: '';
				display: block;
				background-color: $white;
				position: absolute;
				bottom: 0;
				left: 0px;
				width: 100%;
				top: 50px;
				@include breakpoint(medium) {
					border-radius: 16px 16px 0 0;
				}
				@include breakpoint(large) {
					width: calc( 100% + 12px);
					left: 20px;
				}
				@include breakpoint(xxlarge) {
					border-radius: 16px 16px 0 0;
				}
			}
			nav {
				padding: 43px 20px 58px;
				position: relative;
				overflow: hidden;
				@include breakpoint(medium) {
					border-radius: 20px 0 0 0;
					padding: 18px 32px 58px;
				}
				@include breakpoint(large) {
					padding: 43px 0px 58px 36px;
				}
				hr {
					margin-top: 17px;
					margin-bottom: 25px;
				}
				a.button {
					justify-content: space-between;
				}
				.icon-wrap {
					.inner {
						width: 27px;
						margin-right: 9px;
					}
				}
				.text-wrap {
					padding-right: $smallGutter;
					@include breakpoint(medium) {
						padding-right: $mediumGutter;
					}
				}
				h2 {
					margin-bottom: -1px;
				}
			}
		}
	}
	.home-banner.member {
		margin-top: clamp(2.494rem, 2.234rem + 1.107vw, 3.563rem);
		margin-bottom: clamp(3.544rem, 3.175rem + 1.573vw, 5.063rem);
		.inner.bg-blue {
			padding: clamp(1.925rem, 1.725rem + 0.854vw, 2.75rem) clamp(2.45rem, 2.195rem + 1.087vw, 3.5rem) 0;
			@include breakpoint(medium down) {
				padding-left: 1rem;
				padding-right: 1rem;
			}
		}
		.left {
			margin-bottom: 2rem;
			text-align: center;
			@include breakpoint(large) {
				text-align: left;
			}
			.btn-wrap {
				margin-top: clamp(1.4rem, 1.254rem + 0.621vw, 2rem);
			}
		}
		.right {
			.cards {
				.card {
					margin-bottom: clamp(1.925rem, 1.725rem + 0.854vw, 2.75rem);
					@include breakpoint(tablet down) {
						max-width: 210px;
					}
					.inner {
						padding: 2rem 1rem clamp(0.744rem, 0.666rem + 0.33vw, 1.063rem);
						.icon-wrap {
							margin-bottom: clamp(1.05rem, 0.941rem + 0.466vw, 1.5rem);
						}
						.learn-more {
							//position: absolute;
							width: 100px;
							text-align: center;
							bottom: clamp(1.969rem, 1.764rem + 0.874vw, 2.813rem); 
							transform: translateY(16px);
							transition: opacity .25s ease, transform .3s ease;
						}
					}
					a.inner {
						transition: .3s ease;
						transform-origin: center;
						svg {
							circle,
							path {
								transition: .3s ease;
							}
						}
						&:hover,
						&:focus {
							color: $color-blue;
							transform: scale(1.05);
							height: calc(100% + 30px);
							transform: translateY(-15px);
							.learn-more {
								transform: translateY(-30px);
								opacity: 1 !important;
								transition: opacity .25s ease, transform .3s ease;
							}
						}
					}
				}
			}
		}
	}
	.home-cpt-row {
		// padding-bottom: 0.9rem;
		.section-header {
			margin-bottom: rem-calc(14);
			.title-wrap {
				h2 {
					border: 2px solid $black;
					padding: 0.1em 0.7em 0.15em 0.7em;
					border-radius: 2rem;
				}
			}
			.hr-wrap {
				padding-left: 0;
			}
		}
		.body {
			padding-bottom: clamp(1.269rem, 1.077rem + 0.817vw, 1.813rem);
			.title.h6 {
				margin-bottom: 19px;
			}
			.month.h6 {
				margin-bottom: 0;
			}
			.archive-link-wrap {
				padding-top: clamp(1.5rem, 1.28rem + 0.939vw, 2.125rem);
				svg {
					margin-left: rem-calc(7);
				}
			}
			.home-cpt-sidebar {
				> .title.h6 {
					margin-bottom: 19px;
				}
				article {
					margin-bottom: 15px;
					.bg-light-gray {
						overflow: hidden;
					}
					.date {
						flex: 0 0 72px;
						padding: rem-calc(18) rem-calc(10);
						.month {
							
						}
					}
					.title {
						padding: 1rem 1.4rem;
					}
					h3.h6 {
						line-height: 1.3846;
					}
				}
			}
			.home-cpt-main {
				.pad-right {
					@include breakpoint(xlarge) {
						padding-right: 7%;
					}
				}
				&.news-row {
					article {
						margin-bottom: 30px;
						@include breakpoint(medium) {
							margin-bottom: 20px;
						}
						@include breakpoint(large) {
							margin-bottom: 15px;
						}
					}
					.featured {
						.thumb-wrap {
							height: 100%;
							@include breakpoint(large down) {
								aspect-ratio: 1/1;
							}
						}
						.left {
							width: 40%;
						}
					}
					.date {
						color: #C0BFBF;
						margin-bottom: .36rem;
					}
					.excerpt {
						font-size: rem-calc(14);
						padding-top: 1rem;
					}
					.author {
						line-height: 1.3846;
					}
					.thumb-wrap {
						border-radius: 10px;
						overflow: hidden;
					}
					.stacked {
						.thumb-wrap {
							min-height: 0;
							width: 100%;
							aspect-ratio: 1/1;
							@include breakpoint(small down) {
								margin-bottom: 12px;
								max-width: 150px;
							}
						}					
					}
				}
			}
		}
		&.webinars,
		&.podcasts {
			article.type-webinar.archive-card,
			article.type-podcast {
				margin-bottom: clamp(1.5rem, 1.28rem + 0.939vw, 2.125rem);
				.thumb-date-wrap,
				.thumb-icon-wrap {
					@include breakpoint(tablet) {
						min-height: clamp(6.375rem, -0.942rem + 13.008vw, 7.375rem);
					}				
					@include breakpoint(large) {
						min-height: clamp(8.063rem, 2.374rem + 8.889vw, 9.313rem);
					}
					@include breakpoint(xlarge) {
						min-height: clamp(7.125rem, -0.47rem + 9.722vw, 8rem);
					}
					@media screen and (min-width: 1394px) {
						min-height: rem-calc(128);
					}
						
				}
			}
			.body .archive-link-wrap {
				padding-top: 0;
			}
		}
		&.webinars {
			padding-bottom: clamp(1.269rem, 1.077rem + 0.817vw, 1.813rem);
		}
	}
	.testimonials {
		padding-top: clamp(2.756rem, 2.34rem + 1.775vw, 3.938rem);
		padding-bottom: clamp(2.756rem, 2.34rem + 1.775vw, 3.938rem);
		h2 {
			margin-bottom: .45em;
		}
		hr {
			margin: clamp(1.188rem, 1.011rem + 0.751vw, 1.688rem) 0;
		}
		.inner {
			padding: clamp(2.013rem, 1.709rem + 1.296vw, 2.875rem) 5% clamp(2.013rem, 1.709rem + 1.296vw, 2.875rem);
		}
		.swiper-slide {
			.p {
				padding: 0 4.5%;
			}
		}
		.btns-wrap {
			padding-top: 3px;
			gap: 4px;
		}
		.swiper-button-next,
		.swiper-button-prev {
			position: static;	
			width: 31px;
			height: 31px;
			margin: 0;
			&:after {
				display: none;
			}
			svg {
				path,
				rect {
					transition: all .25s ease;
				}
			}
			&:hover,
			&:focus {
				svg {
					path {
						fill: $white;
					}
					rect {
						fill: $color-blue;
					}	
				}
			}
		}
	}
	.member-spotlights {
		background-image: url('../images/member-spotlight-bg.jpg');
		background-size: cover;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		padding-top: clamp(2.975rem, 2.526rem + 1.915vw, 4.25rem);
		padding-bottom: clamp(2.063rem, 1.601rem + 1.971vw, 3.375rem);
		&:after {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(34.23deg, #12058F 54.549099999999996%, #211CD1 85.56049999999999%);
			mix-blend-mode: darken;
		}
		.section-header {
			padding-bottom: clamp(1.619rem, 1.374rem + 1.042vw, 2.313rem);
			.hr-wrap {
				padding-left: 0;
				hr {
					border-color: $white;
				}
			}
		}
		.section-body {
			.swiper-slide {
				text-align: center;
				@include breakpoint(medium) {
					text-align: left;
				}
				.img-wrap {
					display: inline-block;
					overflow: hidden;
					border-radius: 15px;
					@include breakpoint(small down) {
						margin-bottom: 2rem;
					}
				}
				.right .inner {
					@include breakpoint(large) {
						padding-left: 4%;
					}
				}
			}
			.swiper-page {
				cursor: pointer;
				transition: color .25s ease, background-color .25s ease;
				&:hover,
				&.active {
					background-color: $light-gray; 
					color: $color-navy;
				}
				&.active {
					cursor: default;
				}
				.h6
				.h5 {
					text-transform: none;
				}
			}
			.nav {
				padding-top: clamp(3.063rem, 2.6rem + 1.972vw, 4.375rem);
				> .cell:not(:last-child) {
					.swiper-page {
						padding: 7px 0 3px;
						overflow: hidden;
						margin-bottom: 1rem;
						.h6 {
							margin: 0;
						}
						&:not(:hover):not(.active):after {
							content: '';
							display: block;
							position: absolute;
							top: 0;
							right: -$smallGutter;
							bottom: 0;
							width: 1px;
							background-color: $white;	
							@include breakpoint(medium) {
								right: -$mediumGutter;
							}
						}
					}	
				}	
			}
		}
	}
	.partnerships {
		padding-top: clamp(2.538rem, 2.155rem + 1.634vw, 3.625rem);
		padding-bottom: clamp(3.194rem, 2.712rem + 2.056vw, 4.563rem);
		.section-header {
			padding-bottom: 7px;
		}
		.swiper-slide {
			.logo-wrap {
				margin-bottom: clamp(0.7rem, 0.594rem + 0.451vw, 1rem);
			}
			.btn-wrap {
				margin-top: 27px;
			}
		}
		.nav {
			margin-top: rem-calc(39);
		}
		.swiper-page {
			padding: 1.5rem;
			cursor: pointer;
			min-height: clamp(8.438rem, 7.359rem + 4.601vw, 11.5rem);
			&:before {
				content: '';
				position: absolute;
				bottom: 100%;
				width: 0px;
				height: 0px;
				border-style: solid;
				border-width: 0 13px 12px 13px;
				border-color: transparent transparent $white transparent;
				transform: rotate(180deg) translateY(0);
				transition: transform .3s ease;
			}
			&:hover,
			&.active {
				background-color: $black; 
			}
			&.active {
				cursor: default;
				&:before {
					border-width: 0 13px 12px 13px;
					transform: rotate(180deg) translateY(calc(0% - 12px));
				}
			}
		}
	}
}