.page-template-custom-page-home {
	@include breakpoint(medium) {
		.medium-no-pad-right {
			padding-right: 0;
		}
	}
	.title.h6 {
		text-transform: uppercase;
		letter-spacing: .1em;
	}
	.section-header {
		hr {
			transform: translateY(-4px);
		}
	}
	.home-banner.non-member {
		padding-top: clamp(2.313rem, 2.07rem + 1.036vw, 3.313rem);
		background-image: linear-gradient(34.61deg, #5354B5 38.9%, #2891D2 75%, #05B1C5 100%);
		background-image: linear-gradient(34.61deg, #5354B5 9%, #2891D2 75%, #05B1C5 100%);
		overflow: hidden;
		margin-bottom: clamp(3.5rem, 2.972rem + 2.254vw, 5rem);
		.left {
			@include breakpoint(small down) {
				margin-bottom: 3rem;
			}
			@include breakpoint(tablet) {
				max-width: 388px;
			}
			h1 {
				margin-bottom: 0.3em;
			}
			.btn-group {
				margin-top: clamp(1.4rem, 1.254rem + 0.621vw, 2rem);
			}
		}
		.middle {
			@include breakpoint(medium down) {
				max-width: 450px;
			}
		}
		.right {
			padding-top: 50px;
			@include breakpoint(medium) {
				padding-top: 92px;
			}
			&:before {
				content: '';
				display: block;
				background-color: $white;
				position: absolute;
				bottom: 0;
				left: 0px;
				width: 100%;
				top: 50px;
				@include breakpoint(medium) {
					border-radius: 16px 16px 0 0;
				}
				@include breakpoint(large) {
					width: calc( 100% + 12px);
					top: 92px;
					left: 20px;
				}
				@include breakpoint(xxlarge) {
					border-radius: 16px 16px 0 0;
				}
			}
			nav {
				padding: 43px 20px 58px;
				position: relative;
				overflow: hidden;
				@include breakpoint(medium) {
					border-radius: 20px 0 0 0;
					padding: 18px 32px 58px;
				}
				@include breakpoint(large) {
					padding: 43px 0px 58px 36px;
				}
				hr {
					margin-top: 17px;
					margin-bottom: 25px;
				}
				a.button {
					justify-content: space-between;
				}
				.icon-wrap {
					.inner {
						width: 27px;
						margin-right: 9px;
					}
				}
				h2 {
					margin-bottom: -1px;
				}
			}
		}
	}
	.home-banner.member {
		margin-top: clamp(2.494rem, 2.234rem + 1.107vw, 3.563rem);
		margin-bottom: clamp(3.544rem, 3.175rem + 1.573vw, 5.063rem);
		.inner.bg-light-gray {
			border-radius: 10px;
			overflow: hidden;
			padding: clamp(1.925rem, 1.725rem + 0.854vw, 2.75rem) clamp(2.45rem, 2.195rem + 1.087vw, 3.5rem) 0;
			@include breakpoint(medium down) {
				padding-left: 1rem;
				padding-right: 1rem;
			}
		}
		.left {
			margin-bottom: 2rem;
			text-align: center;
			@include breakpoint(large) {
				text-align: left;
			}
			.btn-wrap {
				margin-top: clamp(1.4rem, 1.254rem + 0.621vw, 2rem);
			}
		}
		.right {
			.cards {
				.card {
					margin-bottom: clamp(1.925rem, 1.725rem + 0.854vw, 2.75rem);
					@include breakpoint(tablet down) {
						max-width: 210px;
					}
					.inner {
						padding: 2rem 1rem clamp(0.744rem, 0.666rem + 0.33vw, 1.063rem);
						border-radius: 10px;
						.icon-wrap {
							margin-bottom: clamp(1.05rem, 0.941rem + 0.466vw, 1.5rem);
						}
						.learn-more {
							//position: absolute;
							width: 100px;
							text-align: center;
							bottom: clamp(1.969rem, 1.764rem + 0.874vw, 2.813rem); 
							transform: translateY(16px);
							transition: opacity .25s ease, transform .3s ease;
						}
					}
					a.inner {
						transition: .3s ease;
						transform-origin: center;
						svg {
							circle,
							path {
								transition: .3s ease;
							}
						}
						&:hover,
						&:focus {
							color: $white;
							background-color: $color-violet;
							transform: scale(1.05);
							height: calc(100% + 30px);
							transform: translateY(-15px);
							svg {
								circle {
									fill: $white;
								}
								path {
									fill: $color-violet;
								}
							}
							.learn-more {
								transform: translateY(-30px);
								opacity: 1 !important;
								transition: opacity .25s ease, transform .3s ease;
							}
						}
					}
				}
			}
		}
	}
	.home-cpt-row {
		// padding-bottom: 0.9rem;
		.section-header {
			margin-bottom: rem-calc(14);
			.title-wrap {
				h2 {
					border: 2px solid $black;
					padding: 0.1em 0.7em 0.15em 0.7em;
					border-radius: 2rem;
				}
			}
			.hr-wrap {
				padding-left: 0;
			}
		}
		.body {
			.title.h6 {
				margin-bottom: 19px;
			}
			.month.h6 {
				margin-bottom: 0;
			}
			.absolute-link-trigger {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				&.reveal-trigger {
					cursor: pointer;
				}
			}
			.reveal-trigger-overlay {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: rgba( $black, .8 );
			}
			.archive-link-wrap {
				padding-top: clamp(1.5rem, 1.28rem + 0.939vw, 2.125rem);
				svg {
					margin-left: rem-calc(7);
				}
			}
			.home-cpt-sidebar {
				> .title.h6 {
					margin-bottom: 19px;
				}
				article {
					margin-bottom: 15px;
					.bg-light-gray {
						border-radius: 10px;
						overflow: hidden;
					}
					.date {
						flex: 0 0 72px;
						padding: rem-calc(18) rem-calc(10);
						.month {
							
						}
					}
					.title {
						padding: 1rem 1.4rem;
					}
					h3.h6 {
						line-height: 1.3846;
					}
				}
			}
			.home-cpt-main {
				.pad-right {
					@include breakpoint(large) {
						padding-right: 7%;
					}
				}
				article {
					&.webinar {
						@include breakpoint(small down) {
							max-width: 419px;
						}
						.thumb-date-wrap,
						.thumb-wrap {
							border-radius: 10px;
							margin-bottom: 1rem;
							overflow: hidden;
							&:before {
								content: '';
								display: block;
								position: absolute;
								top: 0;
								left: 0;
								width: 100%;
								height: 100%;
								background: linear-gradient(0deg, #C84DFF 0%, rgba(200, 77, 255, 0) 100%);
								mix-blend-mode: hard-light;
							}
							.abolute-link-trigger {
							}
							.date-wrap {
								padding: clamp(0.438rem, 0.371rem + 0.282vw, 0.625rem) clamp(0.438rem, 0.371rem + 0.282vw, 0.625rem) 0 clamp(0.787rem, 0.669rem + 0.507vw, 1.125rem);
								.date {
									padding-top: 2px;
								}
							}
						}
						.thumb-date-wrap {
							@media screen and (max-width: 460px) {
								min-height: clamp(10.438rem, -1.42rem + 59.286vw, 15.625rem);
							}
							@media screen and (min-width: 461px) and (max-width: 639px) {
								min-height: rem-calc(250);
							}
							@include breakpoint(medium) {
								min-height: clamp(9.75rem, -1.061rem + 27.027vw, 14.125rem);
							}
							@include breakpoint(tablet) {
								min-height: clamp(6.375rem, -2.328rem + 15.473vw, 9.75rem);
							}				
							@include breakpoint(xlarge) {
								min-height: clamp(7.125rem, -1.013rem + 10.417vw, 8.063rem);
							}
							@media screen and (min-width: 1394px) {
								min-height: 8.063rem;
							}
						}
						.host-images {
							max-width: 40%;
							padding: clamp(0.7rem, 0.594rem + 0.451vw, 1rem);
							display: flex;
							align-items: flex-end;
							justify-content: flex-end;
						    gap: clamp(0.35rem, 0.297rem + 0.225vw, 0.5rem);
							padding: 13px 16px;
							@include breakpoint(tablet) {
								max-width: 50%;
							}
							.image-wrap {
									// width: 70%;
									// max-width: 68px;
									aspect-ratio: 1 / 1;
									border: clamp(0.188rem, 0.165rem + 0.094vw, 0.25rem) solid $white;
									border-radius: 100%;
									//max-width: 68px;
								img {
									width: 100%;
									height: 100%;
									object-fit: cover;
									display: block;
								}
							}
							&.grid {
								max-width: 60%;
								display: grid;
								grid-template-columns: repeat(2, 1fr);
								grid-template-rows: repeat(1, 1fr);
								// display: flex;
								// flex-wrap: wrap;
								column-gap: 16px;
								row-gap: 10px;
								@include breakpoint(medium) {
									column-gap: 8px;
									row-gap: 5px;
								}
								.image-wrap {
									max-width: none;
									// flex: 0 0 calc(50% - clamp(0.35rem, 0.297rem + 0.225vw, 0.5rem));
									// flex: 0 0 calc(50% - 4px);
									// width: 100px;
									// height: 100px;
									@include breakpoint(medium) {
										
									}
								}
							}
						}
						.title {
							padding-right: 1.5rem;
							h3.h6 {
								line-height: 1.3846;
							}
						}
					}
					
							
					
				}
				&.news-row {
					article {
						margin-bottom: 30px;
						@include breakpoint(medium) {
							margin-bottom: 20px;
						}
						@include breakpoint(large) {
							margin-bottom: 15px;
						}
					}
					.featured {
						.thumb-wrap {
							height: 100%;
							@include breakpoint(large down) {
								aspect-ratio: 1/1;
							}
						}
						.left {
							width: 40%;
						}
					}
					.date {
						color: #C0BFBF;
						margin-bottom: .36rem;
					}
					.excerpt {
						font-size: rem-calc(14);
						padding-top: 1rem;
					}
					.thumb-wrap {
						border-radius: 10px;
						overflow: hidden;
					}
					.stacked {
						.thumb-wrap {
							min-height: 0;
							width: 100%;
							aspect-ratio: 1/1;
							@include breakpoint(small down) {
								margin-bottom: 12px;
								max-width: 150px;
							}
						}					
					}
				}
			}
		}
		&.webinars {
			padding-bottom: clamp(1.269rem, 1.077rem + 0.817vw, 1.813rem);
			article {
				margin-bottom: clamp(1.5rem, 1.28rem + 0.939vw, 2.125rem);
			}
			.thumb-icon-wrap {
				aspect-ratio: 5 / 3;
				border-radius: 10px;
				overflow: hidden;
				margin-bottom: clamp(0.656rem, 0.557rem + 0.423vw, 0.938rem);
				.pod-icon {
					flex: 0 0 31px;
					position: absolute;
				}
			}
			.body .archive-link-wrap {
				padding-top: 0;
			}
		}
	}
	.member-spotlights {
		background-image: url('../images/member-spotlight-bg.jpg');
		background-size: cover;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		padding-top: clamp(2.975rem, 2.526rem + 1.915vw, 4.25rem);
		padding-bottom: clamp(2.063rem, 1.601rem + 1.971vw, 3.375rem);
		&:after {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(135deg, #C84DFF 0%, #5354B5 38.88%, #2891D2 75%, #05B1C5 100%);
			mix-blend-mode: overlay;
		}
		.section-header {
			padding-bottom: clamp(1.619rem, 1.374rem + 1.042vw, 2.313rem);
			.hr-wrap {
				padding-left: 0;
				hr {
					border-color: $white;
				}
			}
		}
		.section-body {
			.swiper-slide {
				text-align: center;
				@include breakpoint(medium) {
					text-align: left;
				}
				.img-wrap {
					display: inline-block;
					overflow: hidden;
					border-radius: 15px;
					@include breakpoint(small down) {
						margin-bottom: 2rem;
					}
				}
				.right .inner {
					@include breakpoint(large) {
						padding-left: 4%;
					}
				}
			}
			.swiper-page {
				cursor: pointer;
				&:hover,
				&.active {
					background-color: $black; 
				}
				&.active {
					cursor: default;
				}
			}
			.nav {
				padding-top: clamp(3.063rem, 2.6rem + 1.972vw, 4.375rem);
				> .cell:not(:last-child) {
					.swiper-page {
						padding: 7px 0 3px;
						overflow: hidden;
						border-radius: 10px;
						margin-bottom: 1rem;
						.h6 {
							margin: 0;
						}
						&:not(:hover):not(.active):after {
							content: '';
							display: block;
							position: absolute;
							top: 0;
							right: -$smallGutter;
							bottom: 0;
							width: 1px;
							background-color: $white;	
							@include breakpoint(medium) {
								right: -$mediumGutter;
							}
						}
					}	
				}	
			}
		}
	}
	.partnerships {
		padding-top: clamp(2.538rem, 2.155rem + 1.634vw, 3.625rem);
		padding-bottom: clamp(3.194rem, 2.712rem + 2.056vw, 4.563rem);
		.section-header {
			padding-bottom: 7px;
		}
		.swiper-slide {
			.logo-wrap {
				margin-bottom: clamp(0.7rem, 0.594rem + 0.451vw, 1rem);
			}
			.btn-wrap {
				margin-top: 27px;
			}
		}
		.nav {
			margin-top: rem-calc(39);
		}
		.swiper-page {
			padding: 1.5rem;
			cursor: pointer;
			border-radius: 10px;
			overflow: hidden; 
			min-height: clamp(8.438rem, 7.359rem + 4.601vw, 11.5rem);
			&:before {
				content: '';
				position: absolute;
				bottom: 100%;
				width: 0px;
				height: 0px;
				border-style: solid;
				border-width: 0 13px 12px 13px;
				border-color: transparent transparent $white transparent;
				transform: rotate(180deg) translateY(0);
				transition: transform .3s ease;
			}
			&:hover,
			&.active {
				background-color: $black; 
			}
			&.active {
				cursor: default;
				&:before {
					border-width: 0 13px 12px 13px;
					transform: rotate(180deg) translateY(calc(0% - 12px));
				}
			}
		}
	}
}