footer#colophon {
	text-align: center;
	@include breakpoint(medium) {
		text-align: left;
	} 
	.footer-border {
		height: clamp(0.938rem, 0.805rem + 0.563vw, 1.313rem);
		background: linear-gradient(25deg, #050D57 3.77488%, #2B1FC9 47.2877%);
		
	}
	a u {
		text-decoration-thickness: 1px;
		transition: text-decoration-thickness .25s ease;
		&:hover,
		&:focus {
			text-decoration-thickness: 0px;
			color: $color-yellow;
		}
	}
	.menu .logo {
		margin-bottom: rem-calc(42);
		a {
			padding: 0;
			img {
				filter: brightness(5);
			}
		}
	}
	.site-info {
		padding-top: rem-calc(56);
		padding-bottom: clamp(4.375rem, 3.781rem + 2.535vw, 6.063rem);
	}
	.text-wrap {
		margin-bottom: rem-calc(34);
		h2 {
			margin-bottom: 13px;
		}
	}
	.form-wrap {
		margin-bottom: clamp(3.413rem, 2.898rem + 2.197vw, 4.875rem);
		h2 {
			margin-bottom: clamp(0.875rem, 0.765rem + 0.469vw, 1.188rem);
		}
		.gform_wrapper {
			form {
				@extend .grid-x;
				align-items: flex-end;
				margin-right: -1rem;
				margin-left: -1rem;
				display: flex !important;
				flex-direction: column;
				@include breakpoint(medium) {
					flex-direction: row;
					margin-right: -($mediumGutter * .5);
					margin-left: -($mediumGutter * .5);
				}
				.gform-body {
					text-align: left;
					@include breakpoint(small down) {
						flex: 1;
						margin-bottom: 29px;
					}
					@extend .cell;
					@extend .auto;
					padding-left: 1rem;
					padding-right: 1rem;
					input {
						border-color: $white;
						border-radius: 100px;
						height: 50px;
						padding: 0 20px;
						&::placeholder {
							@extend .h6;
							text-transform: uppercase;
							color: rgba(#000, .5)
						}
					}
				}	
				.gform-footer {
					@extend .cell;
					@extend .shrink;
					padding-left: 1rem;
					padding-right: 1rem;
					padding-bottom: 3px;
					margin: 0;
					@include breakpoint(small down) {
						display: flex;
						justify-content: center;
					}
				}	
			}
		}
	}
	
	.left {
		.bottom {
			@include breakpoint(medium down) {
				padding-bottom: 4.1rem;
			}
		}
	}
		
	.link-cell {
		margin-bottom: 47px;
		.h6 {
			margin-bottom: .65rem;
		}
		.menu {
			li {
				margin-bottom: 6px;
				a {
					color: $white;
					padding: 0;
				}
			}
		}
	}
		
	ul#footer-navigation {
		@include breakpoint(medium down) {
			// padding-bottom: 4.08rem;
			justify-content: center;
		}
		li {
			a {
				@extend .h6;
				color: $white;
				font-weight: bold;
				text-transform: uppercase;
				padding: 0;
				&:hover,
				&:focus {
					color: $color-yellow;
				}
			}
		}
	}
	
	.copyright {
		margin-bottom: 0;
		@include breakpoint(medium down) {
			text-align: center;
		}
		@include breakpoint(tablet) {
			br {
				display: none;
			}
		}
	}
	
}