footer#colophon {
	.footer-border {
		height: clamp(0.938rem, 0.805rem + 0.563vw, 1.313rem);
		background: linear-gradient(
		  5deg,
		  #C84DFF 0%,
		  #5354B5 38.9%,
		  #2891D2 75%,
		  #05B1C5 100%
		);
		
	}
	.form-wrap {
		.gform_wrapper {
			form {
				@extend .grid-x;
				@extend .grid-padding-x;
				margin-right: -($smallGutter * .5);
				margin-left: -($smallGutter * .5);
				@include breakpoint(medium) {
					margin-right: -($mediumGutter * .5);
					margin-left: -($mediumGutter * .5);
				}
				.gform-body {
					@extend .cell;
					@extend .auto;
					input {
						border-radius: 100px;
						height: 50px;
						padding: 0 20px;
						&::placeholder {
							@extend .h6;
							text-transform: uppercase;
							color: rgba(#000, .5)
						}
					}
				}	
				.gform-footer {
					@extend .cell;
					@extend .shrink;
					margin: 0;
					button.button:where(:not(.gform-theme-no-framework):not(.gform-theme__disable):not(.gform-theme__disable *):not(.gform-theme__disable-framework):not(.gform-theme__disable-framework *)) {
						display: inline-block;
						vertical-align: middle;
						margin: 0;
						padding: 0.85em 1em;
						border: 2px solid #0C0D3D;
						border-radius: 100px;
						-webkit-transition: background-color 0.25s ease, color 0.25s ease;
						transition: background-color 0.25s ease, color 0.25s ease;
						font-family: inherit;
						font-size: 0.9rem;
						font-weight: 700;
						-webkit-appearance: none;
						line-height: 1;
						text-align: center;
						cursor: pointer;
						text-transform: uppercase;
						svg {
							path {
								all: revert-layer;
							}
						}
					}
				}	
			}
		}
	}
	.site-info {

	}
	
	.left {
		.bottom {
			@include breakpoint(medium down) {
				padding-bottom: 4.1rem;
			}
		}
	}
		
	ul#footer-links {
		@include breakpoint(medium down) {
			padding-bottom: 4.08rem;
		}
		li {
			a {
				font-size: rem-calc(14);
				line-height: rem-calc(19);
				font-weight: bold;
				text-transform: uppercase;
			}
		}
	}
	
	.copyright {
		margin-bottom: 0;
		@include breakpoint(medium down) {
			text-align: center;
		}
		@include breakpoint(tablet) {
			br {
				display: none;
			}
		}
	}
	
}