footer#colophon {
	.footer-border {
		height: clamp(0.938rem, 0.805rem + 0.563vw, 1.313rem);
		background: linear-gradient(
		  5deg,
		  #C84DFF 0%,
		  #5354B5 38.9%,
		  #2891D2 75%,
		  #05B1C5 100%
		);
		
	}
	.site-info {

	}
	
	.left {
		.bottom {
			@include breakpoint(medium down) {
				padding-bottom: 4.1rem;
			}
		}
	}
		
	ul#footer-links {
		@include breakpoint(medium down) {
			padding-bottom: 4.08rem;
		}
		li {
			a {
				font-size: rem-calc(14);
				line-height: rem-calc(19);
				font-weight: bold;
				text-transform: uppercase;
			}
		}
	}
	
	.copyright {
		margin-bottom: 0;
		@include breakpoint(medium down) {
			text-align: center;
		}
		@include breakpoint(tablet) {
			br {
				display: none;
			}
		}
	}
	
}