header.site-header {
	position: relative;
	z-index: 55555;
	background-color: $white;
	box-shadow: 0px 4px 15px 10px rgba(0,0,0,0.15);
	max-width: 100vw !important;
	
	.ask-experts-cta {
		position: absolute;
		z-index: 55556;
		top: 100%;
		right: calc($smallGutter * .5);
		padding: .44rem 1.05rem .44rem;
		border-radius: 0 0 8px 8px;
		box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
		transition: background-color 0.25s ease;
		@include breakpoint(tablet) {
			right: calc($mediumGutter * .5);
		}
		img {
			margin-right: rem-calc(18);
		}
		&:hover,
		&:focus {
			color: $white;
			background-color: #473EB8;
			border-color: #473EB8;
		}
	}
	
	#top-bar-menu {
		height: $mobile_header_height;
		@include breakpoint(medium) {
			min-height: $desktop_header_height;
		}
		.top-bar-left {
			width: auto;
			flex: 0 0 auto;
		}
		.top-bar-right {
			flex: 1;
			.login-join-wrap {
				padding-right: 0;
				a.button.no-arrow {
					svg {
						margin: 0;
					}
				}
			}
		}
		li.logo {
			max-width: 250px;
			@include breakpoint(medium) {

			}
			@include breakpoint(tablet) {

			}
			a {
				padding: 0;
			}			
		}
			
		.main-nav {
			align-items: center;
			>li {
				margin: 0 .45rem 0rem;
				&:last-child {
					margin-right: 0;
					> a {
						padding-right: 0;
					}
				}
				&.menu-item-has-children {
					> a {
						&:after {
							position: static;
							border: 0;
							width: auto;
							height: auto;
							margin: 0 0 0 4px;
							transform: translateY(-1px);
							content: url('data:image/svg+xml,<svg width="8" height="4" viewBox="0 0 8 4" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(%23a)"><path d="M7.856.128A.531.531 0 0 0 7.174.12L4 2.95.822.118a.53.53 0 0 0-.679.01.4.4 0 0 0-.012.604l.047.045h.003l3.473 3.095c.09.082.215.128.344.128h.003a.528.528 0 0 0 .29-.087H4.3L7.87.732a.4.4 0 0 0-.013-.604Z" fill="%23C84DFF"/></g><defs><clipPath id="a"><path fill="%23fff" d="M0 0h8v4H0z"/></clipPath></defs></svg>');
						}
					}
				}
				&.button {
					padding: 0;
					a {
						padding: .6831em 1em;
					}
					&.navy-outline a {
						color: $black;
						&:hover,
						&:focus {
							background-color: $black;
							color: $white;
							svg {
								path {
									fill: $white;
								}
							}
						}
					}
					&.arrow {
						a {
							background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 8 8" fill="none"><path fill="white" d="M0 4a.4.4 0 0 0 .4.4h5.6L4.1 7.2a.4.4 0 1 0 .6.6l3.2-3.5a.4.4 0 0 0 0-.6L4.7.2a.4.4 0 0 0-.6.6l1.9 2.8H.4A.4.4 0 0 0 0 4z"/></svg>');
							background-repeat: no-repeat;
							background-position: calc(100% - 16px) 50%; 
							padding-right: 2.2em;
						}
						
					}
				}
				
				> a {
					display: inline-flex;
					color: $black;
					font-size: rem-calc(16);
					text-transform: uppercase;
					font-weight: 700;
					text-align: center;
					padding: .2em;
					position: relative;
					
				&:hover {

				}
					
				}
				
			&.is-active,
			&.current-menu-ancestor {

			}
				
			&.menu-item-has-children {
				
				ul.submenu {
					background-color: $white;
					@extend .box-shadow-5-15-10;
					@extend .br-10;
					padding: 1.1rem 1.2rem;
					li {
						text-align: left;
						&:not(:last-child):not(:only-child) {
							margin-bottom: 1rem;
						}
						a {
							color: $black;
							border-radius: 4px;
							padding: 0.45em 0.55em;
							&:hover {
								color: $black;
								background-color: $light-gray;
							}	
						}
					}
				}
	
			}

			}
		}
		
		.menu-toggle-wrap {
		    width: auto;
		    flex: 0 0 auto;
		    
		    a#menu-toggle {
			    padding: 0;
			    width: 49px;
			    height: 41px;
				border-radius: 3px;
			    position: relative;
			    background-color: $color-violet;
			    span {
				    position: absolute;
				    left: 10px;
				    right: 0;
				    width: 29px;
				    height: 3px;
					border-radius: 4px;
				    background-color: $white;
					transition: all .3s ease;
				    
				    &:nth-child(1) {
					    top: 9px;
				    }

				    &:nth-child(2) {
					    top: 19px;
				    }
				    
				    &:nth-child(3) {
					    bottom: 9px;
				    }
				    				    
			    }
				
				&.clicked {
					background-color: $white;
					span {
						background-color: $color-violet;
						&:nth-child(1) {
							top: 4px;
							transform: translate(0px, 15px) rotate(-45deg);
						}
				
						&:nth-child(2) {
							top: 16px;
							left: 50%;
							right: 100%;
							width: 0;
						}
						
						&:nth-child(3) {
							bottom: 4px;
							transform: translate(0px, -15px) rotate(45deg);
						}
					}				
				}
			    
		    }
		    
		}
	
	}
	
}
.off-canvas {	
	position: fixed;
	z-index: 555;
	width: 100%;
	top: $mobile_header_height;
	bottom: 0;
	left: 0;
	background: $white;
	overflow: auto;
	transition: opacity .3s ease;
	@include breakpoint(medium) {
		top: $desktop_header_height;
	}
	// &.is-open {
	// 	display: block;
	// 	opacity: 1;
	// }
	a.button.navy-outline:focus {
		// background-color: $white;
		// border-color: $black;
		// color: $black;
		// outline: 2px;
		// svg path {
		// 	fill: $black;
		// }
	}
	.btn-group {
		&.non-member {
			> div {
				flex: 1;
				a {
					width: 100%;
				}
			}
		}
		&.member {
			a.no-arrow {
				aspect-ratio: 1/1;
				display: flex;
				align-items: center;
				justify-content: center;
				svg {
					margin: 0;
				}
			}
		}
	}
	.main-nav {
		padding-top: 19px;
		padding-bottom: 11px;
		a {
			text-align: left;
		}
		.submenu-toggle {
			right: 1rem;
			height: 52px;
			&:after {
				top: 1rem;
				right: 1rem;
				border: 0;
				content: url('data:image/svg+xml,<svg width="17" height="9" viewBox="0 0 17 9" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(%23a)"><path d="M16.694.288A1.081 1.081 0 0 0 15.245.27L8.501 6.635 1.747.265A1.08 1.08 0 0 0 .305.287a.937.937 0 0 0-.027 1.359l.1.102h.007l7.38 6.963c.193.184.457.288.731.288h.007c.222 0 .44-.07.617-.195h.016l7.585-7.158a.937.937 0 0 0-.027-1.36Z" fill="%23C84DFF"/></g><defs><clipPath id="a"><path fill="%23fff" d="M0 0h17v9H0z"/></clipPath></defs></svg>');
				margin: 0;
				height: auto;
				width: auto;
				transition: transform .3s ease;
			}
		}
		// .is-accordion-submenu-parent:not(.has-submenu-toggle) { 
		// 	> a:after {
		// 		top: 1rem;
		// 		border: 0;
		// 		content: url('data:image/svg+xml,<svg width="17" height="9" viewBox="0 0 17 9" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(%23a)"><path d="M16.694.288A1.081 1.081 0 0 0 15.245.27L8.501 6.635 1.747.265A1.08 1.08 0 0 0 .305.287a.937.937 0 0 0-.027 1.359l.1.102h.007l7.38 6.963c.193.184.457.288.731.288h.007c.222 0 .44-.07.617-.195h.016l7.585-7.158a.937.937 0 0 0-.027-1.36Z" fill="%23C84DFF"/></g><defs><clipPath id="a"><path fill="%23fff" d="M0 0h17v9H0z"/></clipPath></defs></svg>');
		// 		margin: 0;
		// 		height: auto;
		// 		width: auto;
		// 		transition: transform .3s ease;
		// 	}
		// 	&[aria-expanded=true] a:after {
		// 	}
		// }
		> li {
			padding: 0 20px;
			&:not(:last-child) {
				> a {
					border-bottom: 1px solid $medium-gray;	
				}
			}
			&.current-menu-item {
				> a {
					background-color: $light-gray;
				}
			}
			> a {
				width: 100%;
				padding: 16px 0px;
				font-weight: 700;
				text-transform: uppercase;
				color: $black;
				font-size: rem-calc(20);
				span {
					display: block;
					padding: 0 5px;
				}
			}
			&.has-submenu-toggle > a {
				margin-right: 0;
				padding-right: 50px;
			}
			.submenu {
				padding: 7px 0 12px;
				li {
					a {
						color: $black;
						font-size: rem-calc(18);
						padding: 0;
						span {
							display: block;
							border-radius: 4px;
							padding: .55em .3em .62em;
						}
					}
					&.current-menu-item {
						a span {
							background-color: $light-gray;
						}
					}
				}
			}
		}
	}
	.btn-group {
		padding: 21px 20px 0;
		a.button {
			flex: 1;
			padding: .5768em 1em;
			span:after {
				display: none;
			}
		}
	}
	.ask-experts-cta {
		width: 100%;
		padding: 1rem 20px;
		display: block;
	}
	
}