p,
.p,
.p-1 p {
	line-height: 1.25;
	font-size: rem-calc(16);
	&.p-2 {
		font-size: rem-calc(18);
		font-size: clamp(1rem, 0.956rem + 0.188vw, 1.125rem);
	}
	&.p-3 {
		font-size: rem-calc(20);
		font-size: clamp(1.063rem, 0.996rem + 0.282vw, 1.25rem);
	}
}
.is-font-medium,
.p-2,
.p-2 p,
.p-2 ul,
.p-2 ol,
h3.p-2 {
	font-size: rem-calc(18);
	font-size: clamp(1rem, 0.956rem + 0.188vw, 1.125rem);
}
.is-font-large,
.p-3,
.p-3 p,
.p-3 ul,
.p-3 ol,
h3.p-3 {
	font-size: rem-calc(20);
	font-size: clamp(1.063rem, 0.996rem + 0.282vw, 1.25rem);
}
h1,
.h1 {
	font-size: clamp(1.969rem, 1.672rem + 1.268vw, 2.813rem);
	margin-bottom: .3em;
}
h2,
.h2 {
	font-size: clamp(1.269rem, 1.033rem + 1.005vw, 1.938rem);
}
h3,
.h3 {
	font-size: clamp(1.188rem, 0.967rem + 0.939vw, 1.813rem);
}
h4,
.h4 {
	font-size: clamp(1.125rem, 0.971rem + 0.657vw, 1.563rem);
}
h5,
.h5 {
	font-size: clamp(1.063rem, 0.996rem + 0.282vw, 1.25rem);
}
.color-black {
	color: $black;
}
.color-navy {
	color: $color-navy;
}
.color-white {
	color: $white;
}
.uppercase {
	text-transform: uppercase;
}
.weight-400 {
	font-weight: 400;
}

:where(.editor-styles-wrapper) p {
	line-height: 1.25 !important;
	font-size: rem-calc(16) !important;
}