p,
.p,
.p p,
.p ul,
.p ol {
	line-height: 1.25;
	&.p-2 {
		font-size: rem-calc(13);
	}
	&.p-3 {
		font-size: rem-calc(20);
	}
}
.color-white {
	color: $white;
}
.uppercase {
	text-transform: uppercase;
}