// Fonts

// Colors
$color-blue: #211CD1;
$color-yellow: #FFD834;

$color-navy: #050D57;
$color-pink: #C84DFF;
$color-violet: #6357FD;
$color-seafoam: #00C5C1;
$color-skyblue: #02A9EC;

// Heights
$mobile_header_height: 68px;
$desktop_header_height: 100px;