.btn-group {
	gap: rem-calc(15);
}
.button {
	display: inline-block;
	text-transform: uppercase;
	transition: all .25s ease;
	svg {
		path {
			transition: all .25s ease;
		}
	}
	&:hover,
	&:focus {
		border-color: $white;
		color: $black;
		svg {
			path {
				fill: $black;
			}
		}
	}
	&.black-outline {
		background-color: transparent;
		color: $black;
		svg {
			path {
				fill: $black;
			}
		}
		&:hover,
		&:focus {
			background-color: $black;
			color: $white;
			svg {
				path {
					fill: $white;
				}
			}
		}
	}
	&.white-outline {
		background-color: transparent;
		border-color: $white;
		&:hover,
		&:focus {
			background-color: $white;
			color: $black;
			svg {
				path {
					fill: $black;
				}
			}
		}
	}
	&.color-black{
		color: $black;
		svg {
			path {
				fill: $black;
			}
		}
		&:hover,
		&:focus {
			
		}
	}
	&.pink {
		background-color: $pink;
		border-color: $pink;
	}
	&.seafoam {
		background-color: $seafoam;
		border-color: $seafoam;
	}
	&.sky-blue {
		background-color: $skyblue;
		border-color: $skyblue;
	}
}