.btn-group {
	gap: rem-calc(15);
}

.gform-theme.gform-theme--framework.gform_wrapper .button:where(:not(.gform-theme-no-framework):not(.gform-theme__disable):not(.gform-theme__disable *):not(.gform-theme__disable-framework):not(.gform-theme__disable-framework *)),
.button {
	text-transform: uppercase;
	transition: all .25s ease;
	display: inline-block;
	.inline-icon-wrap {
		display: inline-flex;
		align-items: center;
		justify-content: space-between;;
	}
	svg {
		margin-left: 8px;
		path {
			transition: all .25s ease;
		}
	}
	&:hover,
	&:focus {
		border-color: $white;
		color: $black;
		svg {
			path {
				fill: $black;
			}
		}
	}
	&.black-outline {
		background-color: transparent;
		color: $black;
		svg {
			path {
				fill: $black;
			}
		}
		&:hover,
		&:focus {
			background-color: $black;
			border-color: $black;
			color: $white;
			svg {
				path {
					fill: $white;
				}
			}
		}
	}
	&.white-outline {
		background-color: transparent;
		border-color: $white;
		&:hover,
		&:focus {
			background-color: $white;
			color: $black;
			svg {
				path {
					fill: $black;
				}
			}
		}
	}
	&.color-black {
		color: $black;
		svg {
			path {
				fill: $black;
			}
		}
		&:hover,
		&:focus {
			
		}
	}
	&.violet {
		background-color: $color-violet !important;
		border-color: $color-violet !important;
		&:hover,
		&:focus {
			color: $white;
			background-color: #473EB8 !important;
			border-color: #473EB8 !important;
			svg {
				path {
					fill: $white;
				}
			}
		}
	}
	&.pink {
		background-color: $color-pink;
		border-color: $color-pink;
		&:hover,
		&:focus {
			color: $white;
			background-color: #913BB7;
			border-color: #913BB7;
			svg {
				path {
					fill: $white;
				}
			}
		}
	}
	&.seafoam {
		background-color: $color-seafoam;
		border-color: $color-seafoam;
		&:hover,
		&:focus {
			color: $white;
			background-color: #00827F;
			border-color: #00827F;
			svg {
				path {
					fill: $white;
				}
			}
		}
	}
	&.sky-blue {
		background-color: $color-skyblue;
		border-color: $color-skyblue;
		&:hover,
		&:focus {
			background-color: #057DAE;
			border-color: #057DAE;
		}
	}
	&.black {
		background-color: $black;
		border-color: $black;
		&:hover,
		&:focus {
			background-color: #3C3D82;
			border-color: #3C3D82;
			color: $white;
			svg {
				path {
					fill: $white;
				}
			}
		}
	}
}