.btn-group {
	gap: rem-calc(15);
}
.button {
	text-transform: uppercase;
	transition: all .25s ease;
	.inline-icon-wrap {
		display: inline-flex;
		align-items: center;
		justify-content: space-between;;
	}
	svg {
		margin-left: 8px;
		path {
			transition: all .25s ease;
		}
	}
	&:hover,
	&:focus {
		border-color: $white;
		color: $black;
		svg {
			path {
				fill: $black;
			}
		}
	}
	&.black-outline {
		background-color: transparent;
		color: $black;
		svg {
			path {
				fill: $black;
			}
		}
		&:hover,
		&:focus {
			background-color: $black;
			color: $white;
			svg {
				path {
					fill: $white;
				}
			}
		}
	}
	&.white-outline {
		background-color: transparent;
		border-color: $white;
		&:hover,
		&:focus {
			background-color: $white;
			color: $black;
			svg {
				path {
					fill: $black;
				}
			}
		}
	}
	&.color-black{
		color: $black;
		svg {
			path {
				fill: $black;
			}
		}
		&:hover,
		&:focus {
			
		}
	}
	&.pink {
		background-color: $color-pink;
		border-color: $color-pink;
	}
	&.seafoam {
		background-color: $color-seafoam;
		border-color: $color-seafoam;
	}
	&.sky-blue {
		background-color: $color-skyblue;
		border-color: $color-skyblue;
	}
}