.wp-block-accordion-drawers {
	.accordion {
		padding: clamp(1.75rem, 1.486rem + 1.127vw, 2.5rem) clamp(1.625rem, 1.383rem + 1.033vw, 2.313rem) clamp(0.656rem, 0.557rem + 0.423vw, 0.938rem);
		.grid-x {
			flex-wrap: nowrap;
			column-gap: 20px;
		}
		.accordion-item {
			border-top: 1px solid $medium-gray;
			a.p {
				&:before,
				&:after {
					position: absolute;
					top: calc(50% - 1px);
					right: 1rem;
					content: '';
					display: block;
					width: 18px;
					height: 3px;
					background-color: $color-pink;
					transform-origin: center;
				}
				&:after {
					transform: rotate(90deg);
					transition: transform .25s ease;
				}
				display: block;
				padding: 18px 4rem 19px 0;
				color: $body-font-color;
				line-height: 1.3888;
				&[aria-expanded="true"] {
					&:after {
						transform: rotate(0deg);
					}
				}
			}
		}
	}
}