.wp-block-sticky-scroll-list {
	padding-top: 2.938rem;
	padding-bottom: clamp(4.681rem, 3.975rem + 3.014vw, 6.688rem);
	.bg {
		background-image: linear-gradient(-25.46deg, #5354B5 38.887899999999995%, #2891D2 75%, #05B1C5 100%);
	}
	.block {
		.inner {
			max-width: 520px;
		}
		.h4 {
			font-weight: 600;
		}
		p,
		ul,
		ol {
			font-size: clamp(1.137rem, 0.966rem + 0.732vw, 1.625rem);
		}
	}
		
	.section {
		padding: 1.6rem 0;
		
		@include breakpoint(medium) {
			padding: 10rem 0 0;
			&:last-child {
				padding-bottom: 10rem;
			}
		}
		
		&:last-child {
			margin-bottom: 0;
		}
		
	}
	
	.nav-wrap {
		margin-bottom: 4.681rem;
		.link-wrap {
			position: relative;
			padding-top: 23px;
			padding-bottom: 23px;
			padding-left: 2.85rem;
			margin-bottom: 0;
			
		&:first-child {
			padding-top: 3rem;
		}

		&:last-child {
			padding-bottom: 0;
		}
			
			span {
				display: inline-block;
				width: 34px;
				font-family: $body-font-family;
				font-size: rem-calc(15);
				font-weight: 400;
				position: relative;
				top: 2px;
			}
		
		&:before {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			bottom: 0;
			width: 2px;
			background-color: #FDFDFD;
		}
			
		}
	
		a {
			color: $white;
			font-size: inherit;
			display: flex !important;
			font-weight: 600;
			flex-wrap: nowrap;
			position: relative;
			transition: opacity .25s ease-out;

			@include breakpoint(medium) {
				opacity: .26;
			}
			
		&:hover {
			opacity: 1;
		}
			
		&:before {
			content: '';
			display: block;
			position: absolute;
			left: -3.35rem;
			height: clamp(2.625rem, 2.229rem + 1.69vw, 3.75rem);
			width: clamp(0.875rem, 0.743rem + 0.563vw, 1.25rem);
			top: -8px;
			bottom: -8px;
			background-color: transparent;
			transition: background-color .25s ease-out;
		}
		
		&.is-active {
			opacity: 1;
			
		&:before {
			background-color: $color-seafoam;
		}
			
		}
			
		}
		
	}
}